{% extends 'base.html' %}
{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/area_list">Obszary</a></li>
        <li class="active breadcrumb-item">{{ area.name }}</li>
    </ol>

    <div class=" jumbotron">
    <h2 class="text-center">{{ area.name }}</h2>
    <div class="row1">
        <div class="col">
            <span>{{ area.description }}</span>
        </div>
    </div>
    </div>

    <div class="jumbotron">
    <ul>
    <p>Regiony:</p>
    {% for region in area_regions %}
      <li><a href="/region/{{ region.id }}">{{ region.name }}</a></li>
    {% endfor %}
    </ul>
    </div>

{% endblock content %}