{% extends 'base.html' %}
{% block content %}

    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/area_list">Obszary</a></li>
    <li class="breadcrumb-item"><a href="/area/{{ region.area.id }}">{{ region.area.name }}</a></li>
    <li class=" active breadcrumb-item">{{ region.name }}</li>
    </ol>

    <div class="jumbotron">
    <h2 class="text-center">{{ region.name }}</h2>
    <div class="row">
        {% if region.description %}<div class="col">{{ region.description }}</div>{% endif %}
    </div>
    </div>

    <div>
    <ul class="list-group">
    <p>Sektory:</p>
    {% for sector in region_sectors %}
      <li class="list-group-item"><a href="/sector/{{ sector.id }}">{{ sector.name }}</a></li>
    {% endfor %}
    </ul>
    </div>

{% endblock content %}